
     <!-- ======= Features Section ======= -->
    <section id="features" class="features">
<div class="warpper">
  <input class="radio" id="two" name="group" type="radio" checked>
  <input class="radio" id="three" name="group" type="radio">
  <div class="tabs">
  <label class="tab" id="two-tab" for="two">Pengumuman</label>
  <label class="tab" id="three-tab" for="three">Sesi Libat Urus</label>
    </div>
  <div class="panels">
  <div class="panel" id="one-panel">
     <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="/rmnk/assets/img/nano5.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            
            <ul>
              <li><i class="bi bi-check"></i><a class="title">5th EU-Asia Dialogue On Nanosafety &amp; 19th Asia Nano Forum Summit Meeting (ANFoS2022)</a></li>
              <li><i class="bi bi-check"></i><a class="title">3rd Bionanotechnology Research Seminar &amp; Conference 2022</a></li>
              <li><i class="bi bi-check"></i><a class="title">Webinar and Workshop on Basic Transmission Electron Analysis (TEM) Analysis</a></li>
            </ul>
          </div>
        </div><!-- Features Item -->
  </div>
  <div class="panel" id="two-panel">
    <div class="panel-title"></div>
    <div class="row">
    <div class="col-md-5">
          <div class="box-pengumuman">
            <img src="/rmnk/assets/img/nano5.jpg" class="img-fluid" alt="">
           </div> 
          </div>
          <div class="col-md-7">
          <div class="pengumuman">
            <ul>
            <br><br><br><br>
            <h3>Pengumuman</h3>
              <li><i class="bi bi-check"></i><a class="contentpengumuman" >5th EU-Asia Dialogue On Nanosafety &amp; 19th Asia Nano Forum Summit Meeting (ANFoS2022)</a></li>
              <li><i class="bi bi-check"></i><a class="contentpengumuman" >3rd Bionanotechnology Research Seminar &amp; Conference 2022</a></li>
              <li><i class="bi bi-check"></i><a class="contentpengumuman" >Webinar and Workshop on Basic Transmission Electron Analysis (TEM) Analysis</a></li>
            </ul>
            </div>
         </div>
        </div>
  </div>
  <div class="panel" id="three-panel">
  <br>
    <div class="panel-title">Sesi Libat Urus</div>
      <div class= "slider">

        <div class="slide-track">

          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat1.jpg" width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat1.jpg"  width="230" height="200">
          </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat2.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat2.jpg"   width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat3.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat3.jpg"  width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat4.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat4.jpg"  width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat5.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat5.jpg"  width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat6.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat6.jpg"  width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat7.jpeg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat7.jpeg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat8.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat8.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat9.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat9.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat10.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat10.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat11.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat11.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat12.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat12.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat13.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat13.jpg" width="230" height="200">
            </a>
          </div>
          <div class="slide">
          <a target="_blank" href="/rmnk/assets/img/sesilibaturus/libat14.jpg"width="230" height="200">
            <img src="/rmnk/assets/img/sesilibaturus/libat14.jpg" width="230" height="200">
            </a>
          </div>

        </div>
      </div> 

  </div>
  </div>
</div>

    </section><!-- End Features Section -->