<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Pusat Nanoteknologi Kebangsaan </span>
          </a>
          <p>Kementerian Sains, Teknologi & Inovasi (MOSTI) Aras 4, Blok C7, Kompleks C, Pusat Pentadbiran Kerajaan Persekutuan, 62662 Putrajaya, MALAYSIA.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://web.facebook.com/NNCMOSTI/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/nncmosti/" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 footer-infocontact">
        <br>
          <p>Tel : (+603) 8885 8661</p>
          <p>E-mel : nanokebangsaan@mosti.gov.my</p>
        </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
       <strong><span>© 2022 Rangkaian Makmal Nanoteknologi Kebangsaan (RMNK). Ministry of Science, Technology and Innovation (MOSTI).
        </span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/rmnk-bootstrap-rmnktics-website-template/ -->
         <strong> All Rights Reserved </strong>
         {# <a href="/rmnk/https://bootstrapmade.com/">BootstrapMade</a> #}
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->