<!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href={{ path ("app_default") }} class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/rmnk/assets/img/logojata.png">  
        
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href={{ path ("app_default") }} class="active">Utama</a></li>
          <li class="dropdown"><a href="#"><span>Rangkaian Penyelidikan</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a target="_blank" rel="noopener" href="#">Visual Interaktif Rangkaian Penyelidikan</a></li>
              <li><a target="_blank" rel="noopener" href="#">Tutorial RMNK</a></li>
            </ul>
          </li>

          
          <li class="dropdown"><a href="#"><span>Hubungi Kami</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a target="_blank" rel="noopener" href={{ path ("app_contact") }}>Pertanyaan fasiliti</a></li>
              <li><a target="_blank" rel="noopener" href="https://direktori.mosti.gov.my/directorystaff/list.php?&deptvar=25">Direktori NNC</a></li>
            </ul>
          </li>
          <li><a class="get-a-quote" href="#">Log in</a></li>
        </ul>
         
          
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->