<!-- ======= Testimonials Section ======= -->
<!-- ======= Penghargaan Section ======= -->
    <section id="team" class="team pt-0">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>Penghargaan</span>
          <h2>Penghargaan</h2>
        </div>


        <div class="container">
            <section class="customer-logos sliding">
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/utm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/uthm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/utem.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/usmnano.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/usm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/upm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/uosm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/unimas.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/unimap.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/umt.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/ums.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/um.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/ukm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/uitm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/sirim.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/nuklear.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/nottingham.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/monash.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/mimos.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/mardi.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/lgm.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/kimia.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/imu.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/hitech.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/frim.jpg" alt="logo"></div>
                <div class="sliding"><img src="/rmnk/assets/img/penghargaan/crest.jpg" alt="logo"></div>
            </section>
        </div>
       </div>
    </section><!-- End Penghargaan Section -->
    