<!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div>
        <br>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="/rmnk/assets/img/nano2.jpg" alt="" class="img-fluid">
              </div>
              <h3><a  class="icon-default-style fa fa-cogs"><a class="stretched-link">   OBJEKTIF</a></h3>
              <p>Kenalpasti kepakaran, keupayaan dan kapasiti makmal serta peralatan nanoteknologi di Institusi Pendidikan Tinggi, Institut dan Agensi Penyelidikan di Malaysia</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="/rmnk/assets/img/nano1.jpg" alt="" class="img-fluid">
              </div>
              <h3><a class="icon-default-style fa fa-handshake"><a class="stretched-link">   PENGLIBATAN</a></h3>
              <ul>
              <li>17 Institusi Pendidikan Tinggi Awam</li>
              <li>7 Institusi Pendidikan Tinggi Swasta</li>
              <li>5 Institusi Penyelidikan Kerajaan</li>
              <li>3 Agensi Penyelidikan Kerajaan</li>
              <li>2 Makmal Pengujian Swasta</li></ul></ul>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="/rmnk/assets/img/nano3.jpg" alt="" class="img-fluid">
              </div>
              <h3><a class="icon-default-style fa fa-flask-vial"><a class="stretched-link">   TUJUAN</a></h3>
              <ul>
              <li>Perkongsian sumber yang efisien</li>
              <li>Kepakaran dan kemudahan pengujian sampel mudah diakses</li>
              <li>Mengurangkan kos R&D serta pengaliran wang ke luar negara</li></ul>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Services Section -->