
    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Ahli Jawatankuasa</span>
          <h2>Ahli Jawatankuasa</h2>
        </div>

          <div class="gallery">
          <a>
            <img src="/rmnk/assets/img/team/team1.jpg"  width="600" height="400">
          </a>
          <div class="desc"><strong>Prof. Madya Dr. Ruslinda A Rahim</strong>
          <i><br>Penasihat</i>
          </div>
        </div>

        <div class="gallery">
          <a>
            <img src="/rmnk/assets/img/team/team2.png"  width="600" height="400">
          </a>
          <div class="desc"><strong>Ismarul Nizam Ismail</strong>
          <i><br>Ketua Projek</i>
          </div>
        </div>

        <div class="gallery">
          <a>
            <img src="/rmnk/assets/img/team/team3.jpg"  width="600" height="400">
          </a>
          <div class="desc"><strong>Dr Yusrizam Sharifuddin</strong>
          <i><br>Ahli Projek</i>
          </div>
        </div>

        <div class="gallery">
          <a>
            <img src="/rmnk/assets/img/team/team4.jpg"  width="600" height="400">
          </a>
          <div class="desc"><strong>Nur Arifazleen Aris</strong>
          <i><br>Ahli Projek</i>
          </div>
        </div>

        <div class="gallery">
          <a>
            <img src="/rmnk/assets/img/team/team5.png"  width="600" height="400">
          </a>
          <div class="desc"><strong>Nurul Asyikin Kamaruzaman</strong>
          <i><br>Ahli Projek</i>
          </div>
        </div>



      </div>
    
    </section><!-- End About Us Section -->


    